.music-player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .time-controller {
    display: flex;
    width: 50%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    input {
      width: 60%;
    }

    p {
      width: 20%;
    }
  }

  .play-controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    padding: 1rem;

    svg {
      display: inline-block;
      cursor: pointer;
      width: 30%;
    }
  }
}

@media screen and (max-width: 768px) {
  .music-player {
    .time-controller {
      width: 80%;
      align-items: center;
      justify-content: center;
    }

    .play-controller {
      width: 50%;
      align-items: center;
      justify-content: center;
    }
  }
}
